
/*h3 {
    color: #F3969A;
}*/

.greenButton {
    background-color: #F3969A;
    color: white;
}

.green{
    color: #F3969A;;
}

#portfolio {
    background-image: url('../images/regal.png');
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
}


.card-img-top {
    position: absolute;
    top: -120px;
    left: 50%;
    margin-left: -100px;
    width: 200px !important;
    height: 220px;
    border: 5px solid white;
}

.border-white {
    margin-top: 0px;
    padding-top: 110px;  
}



/* HOVER EFFECT - PORTFOLIO */
.image:hover {
    opacity: 0.3;
}

.middle:hover {
    opacity: 1;
}

.text {
    color: #F3969A;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 100%;
    width: 92%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;  
}

.overlay:hover {
    opacity: 0.9;
}

footer {
    border-top: 8px solid #F3969A;
}