.navbar-brand, .font {
    font-family: 'Dancing Script', cursive;
}

.navbar-nav, p, a, label {
    font-family: 'Raleway', sans-serif;
}

.me {
    margin-top: 10px;
}

.name {
    margin-top: 15px;
    font-size: 48px;
}

.lead {
    font-size: 26px;
}

.jumbotron {
    height: 400px;
}

.needMargin {
    margin-bottom: 40px;
}


.greenButton {
    background-color: #F3969A;
    color: white;
}

.me {
    margin-top: 120px;
}
.green{
    color: #F3969A;
}

body {
    background-image: url('../images/regal.png');
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
}

.card-block {
    margin: 30px;
}

.card-img-top {
    position: absolute;
    top: -120px;
    left: 50%;
    margin-left: -100px;
    width: 200px !important;
    height: 220px;
    border: 5px solid white;
}

.border-white {
    margin-top: 0px;
    padding-top: 110px;  
}

.contactSection {
    margin: 20px;*/
}


.video:hover {
    color: #F3969A;
}


footer {
    border-top: 8px solid #F3969A;
}

.link-1 {
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px;  
}

.link-1:hover {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 12px 0px; 
}


.icon:hover svg {
    color: black;
}

/* ----------------------VIDEO ---------------------------*/
.modal-dialog {
      width: 600px;
      height: 600px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
}

/* ---------------HEADING TYPE WRITER ---------------------*/

.typewriter p {
  color: #fff;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid #F3969A; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(40, end),
    blink-caret .5s step-end;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}



/* MEDIA QUERIES */
/* -------------------------------*/
@media (min-width: 576px) {
    .name {
        font-size: 70px;
        margin-bottom: 15px;
    }

    .typewriter p {
        font-size: 16px;
        animation: 
        typing 1.5s steps(20, end),
        blink-caret .5s step-end;
    }

     .jumbotron {
        height: 450px;
    } 

    .portImage {
      width: 500px;
      height: 370px;
      margin: 10px;
    }

    .float-right {
      margin-right: 0px;
    }

}

@media (min-width: 992px) {
  .portImage {
  width: 400px;
  height: 300px;
  }
.flo {
    position:relative;
    width:400px;
    height:370px;
    overflow:hidden;
}
}


/*------------------------------*/
@media (min-width: 1200px) {
    .card-img-top {
        position: absolute;
        top: -170px;
        left: 45%;
        margin-left: -100px;
        width: 250px !important;
        height: 280px;
        border: 5px solid white;
    } 

    .jumbotron {
        height: 540px;
    }  

    .left {
        margin-left: -30px;
    }
}


/* NEW PORTFOLIO HOVER EFFECT */
.portImage {
  width: 355px;
  height: 300px;
}

.float-left {
    margin-left: -10px;
}

.float-right {
  margin-left: 10px;
}


.flo {
    position:relative;
    width:355px;
    height:370px;
    overflow:hidden;
}

.flo figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-30px
}
.flo figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.flo figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.flo figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:22px;
    text-align:center;
}
.flo figure p {
    display:block;
    font-family:'Lato';
    font-size:16px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align: center;
}
.flo figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:15px 44px;
    background-color:black;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.flo figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.flo figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.flo figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}