.navbar-brand, .font {
    font-family: 'Dancing Script', cursive;
}

.navbar-nav, p, a, label {
    font-family: 'Raleway', sans-serif;
}
.name {
    margin-top: 35px;
    font-size: 40px;
}

.jumbotron {
    height: 450px;
}

.needMargin {
    margin-bottom: 40px;
}

.greenButton {
    background-color: #F3969A;
    color: white;
}

.green{
    color: #F3969A;
}

#portfolio {
    background-image: url('../images/regal.png');
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
}

.card-block {
    margin: 30px;
}

.card-img-top {
    position: absolute;
    top: -120px;
    left: 50%;
    margin-left: -100px;
    width: 200px !important;
    height: 220px;
    border: 5px solid white;
}

.border-white {
    margin-top: 0px;
    padding-top: 110px;  
}

.contactSection {
    margin: 20px;
}


/* HOVER EFFECT - PORTFOLIO */
.image:hover {
    opacity: 0.3;
}

.middle:hover {
    opacity: 1;
}

.text {
    color: #F3969A;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 200px;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    background-color: white;  
}

.overlay:hover {
    opacity: 0.9;
}

footer {
    border-top: 8px solid #F3969A;
}

.link-1 {
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px;  
}

.link-1:hover {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 6px 0; 
}


/* MEDIA QUERIES */
/* -------------------------------*/
@media (min-width: 576px) {
    .name {
        font-size: 60px;
    }

    .img-thumbnail {
        margin-left: 80px;
    }

    .overlay {
        left: 95px;
    }
    .contactSection {
        margin: 50px;
    }
}

/* -------------------------------*/
@media (min-width: 768px) {
    .img-thumbnail {
        margin-left: 150px;
    }

    .overlay {
        left: 165px;
    }

    .contactSection {
        margin-left: 120px;
    }

    .img-thumbnail {
        margin-left: 60px;
    }

    .overlay {
        left: 75px;
    }

    .contactSection {
        margin: 40px;
    }
}
/*------------------------------*/
@media (min-width: 1200px) {
    .card-img-top {
        position: absolute;
        top: -170px;
        left: 45%;
        margin-left: -100px;
        width: 250px !important;
        height: 280px;
        border: 5px solid white;
    } 

    .jumbotron {
        height: 540px;
    }  

 
}    
}