.navbar-brand, .font {
    font-family: 'Dancing Script', cursive;
}

.navbar-nav, p, a, label {
    font-family: 'Raleway', sans-serif;
}


.name {
    margin-top: 15px;
    font-size: 40px;
}

.jumbotron {
    height: 460px;
}

.needMargin {
    margin-bottom: 40px;
}

.greenButton {
    background-color: #F3969A;
    color: white;
}

.green{
    color: #F3969A;
}

#portfolio {
    background-image: url('../images/regal.png');
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
}

.card-block {
    margin: 30px;
}

.card-img-top {
    position: absolute;
    top: -120px;
    left: 50%;
    margin-left: -100px;
    width: 200px !important;
    height: 220px;
    border: 5px solid white;
}

.border-white {
    margin-top: 0px;
    padding-top: 110px;  
}

.contactSection {
    margin: 20px;
}

.video {
    background-color: black;
    color: white;
    margin-top: -23px;
    width: 302px;
    margin-left: 11px;
    padding: 10px;
    font-size: 14px;
}

/* HOVER EFFECT - PORTFOLIO */
.image:hover {
    opacity: 0.3;
}

.middle:hover {
    opacity: 1;
}

.text {
    color: #F3969A;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 200px;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    background-color: white;  
}

.overlay:hover {
    opacity: 0.9;
}

footer {
    border-top: 8px solid #F3969A;
}

.link-1 {
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px;  
}

.link-1:hover {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 6px 0; 
}


.img-zoom-in img {
transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
}

.img-zoom-in:hover img {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1)
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}


/* --------------------------------- */

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 10px;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 93%;
  width: 88%;
  left: 5%;
  top: 3%;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

.content-details p{
  color: #fff;
  font-size: 16px;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}


/* MEDIA QUERIES */
/* -------------------------------*/
@media (min-width: 576px) {
    .name {
        font-size: 60px;
    }

    .content {
        margin-left: 15%;
    }

    .img-thumbnail {
        margin-left: 80px;
    }

    .overlay {
        left: 95px;
    }
    .contactSection {
        margin: 50px;
    }

    .video {
        background-color: black;
        color: white;
        margin-top: -23px;
        width: 350px;
        margin-left: 77px;
        padding: 10px;
    }
}

/* -------------------------------*/
@media (min-width: 768px) {

    .contactSection {
        margin-left: 120px;
    }

    .img-thumbnail {
        margin-left: 60px;
    }

    .overlay {
        left: 75px;
    }

    .contactSection {
        margin: 40px;
    }
    .content {
        margin-left: 25%;
    }
}



@media (min-width: 992px) {
    .content .content-overlay {
      background: rgba(0,0,0,0.7);
      position: absolute;
      height: 93%;
      width: 100%;
      left: 5%;
      top: 3%;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }

    .content-details h3 {
        text-align: center;
        margin-left: 30px;
    }

    .content-details p {
        text-align: center;
        margin-left: 25px;
    }
}
/*------------------------------*/
@media (min-width: 1200px) {
    .card-img-top {
        position: absolute;
        top: -170px;
        left: 45%;
        margin-left: -100px;
        width: 250px !important;
        height: 280px;
        border: 5px solid white;
    } 

    .jumbotron {
        height: 540px;
    }  

    .left {
        margin-left: -30px;
    }

    .content .content-overlay {
      background: rgba(0,0,0,0.7);
      position: absolute;
      height: 93%;
      width: 88%;
      left: 5%;
      top: 3%;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }  

    .content-details h3 {
        margin-left: 0px;
        text-align: center;
    }

    .content-details p {
        margin-left: 0px;
        text-align: center;
    }
}

